<div class='my-3'>
  <p class='m-0 text-left p-3 bg-white border single-post'>
    <%= image_tag post.user.profileImg.url, size: '40x40', class: 'rounded-circle' %>
    <%= link_to post.user.username, profile_path(post.user.username), class: 'text-dark' %>
  </p>
  <%= image_tag post.image_url, class: 'img img-fluid' %>
  <div class='bg-white p-3 border text-left'>
    <p class='m-0'>
      <strong>0 likes</strong>
    </p>
    <p class='m-0 text-muted'>
      <%= time_ago_in_words(post.created_at) %> ago
    </p>
  </div>
</div>
